<<<<<<< HEAD
<div class="container is-max-desktop">
    <h1>Login Page</h1>
    <div class="field">
    <p class="control has-icons-left has-icons-right">
        <input class="input userEmail" type="email" placeholder="Email">
        <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
        </span>
    </p>
    </div>
    <div class="field">
    <p class="control has-icons-left">
        <input class="input userPassword" type="password" placeholder="Password">
        <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
        </span>
    </p>
    </div>
    <button type="submit">Submit</button>
</div>
=======
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>My Resumes</title>
</head>
<body>
    <section class="hero is-info is-large">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item">
                <img src="https://png.pngtree.com/png-vector/20190725/ourlarge/pngtree-vector-resume-icon-png-image_1591180.jpg" alt="Logo">
              </a>
              <span class="navbar-burger" data-target="navbarMenuHeroB">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenuHeroB" class="navbar-menu">
              <div class="navbar-end">
                <a class="navbar-item is-active">
                  Home
                </a>
                <a class="navbar-item" href="/newResume">
                  New Resume
                </a>
              </div>
            </div>
          </div>
        </nav>
      </div>

      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title">
            Resume Builder
          </p>
          <p class="subtitle">
            Welcome {{userName}}
          </p>
        </div>
      </div>

      <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
          <div class="container">
            <ul>
              <li class="is-active">
                <a>Resumes</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </section>
    <section class="section">
        <div class="container">
            <h1 class="title">{{userName}}</h1>
            <div class="level-right">
                <p class="level-item"><a class="button is-link is-light" href="/newResume">New Resume</a></p>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="tile is-ancestor resumeTile">
            {{!-- <div class="tile is-3 has-text-centered">
                    <div class="tile is-parent">
                        <article class="tile is-child notification is-info">
                            <p class="title">resume name</p>
                            <figure class="image is-4by3">
                                <img
                                    src="https://png.pngtree.com/png-clipart/20200709/original/pngtree-elegant-minimalistic-modern-vector-resume-or-cv-template-designed-on-a4-png-image_3528067.jpg">
                            </figure>
                        </article>
                    </div>
              </div> --}}
        </div>
    </div>
</body>
<script src="./js/index.js" type="text/javascript"></script>

</html>
>>>>>>> 77e503c4d3cd61b1968ef99a0068d34da8ad5b99
