<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>My Resumes</title>
</head>

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-centered">
                Resume Builder
        </div>
    </div>
</section>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Users Name</h1>
            <div class="level-right">
                <p class="level-item"><a class="button is-success" href="/newResume">New Resume</a></p>
            </div>
            <h2 class="subtitle">
                resume's will go here
        </div>
    </section>
</body>

</html>