<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Resumes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>

<div class = "section">
    <div class = "container">
        <h1>Welcome to Resume Builder</h1>
    </div>

    <div class="columns">
        <div class="column">
            {{#each users}}
            {{/each}}
        </div>
    </div>

</div>

</html>