
<div class="container is-max-desktop">
    <h1>Login Page</h1>
    <div class="field">
    <p class="control has-icons-left has-icons-right">
        <input class="input userEmail" type="email" placeholder="Email">
        <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
        </span>
    </p>
    </div>
    <div class="field">
    <p class="control has-icons-left">
        <input class="input userPassword" type="password" placeholder="Password">
        <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
        </span>
    </p>
    </div>
    <button type="submit">Submit</button>
</div>

